:root{
    --celeste: #94b5f1;
    --turquesa: #40E0D0;
    --turquesa-oscuro: #2eb6b6;
    --blanco: #fff;
    --blanco-oscuro:#f1f1f1;
}
/* ------------------- PORTADA INICIO ------------------------ */
.portada-servicios{
    width: 100%;
    height: 400px;
    margin-top: 60px;
    background-color: #f1f1f1;
    background-image: url(../img/serviciosdientes.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
    box-shadow: 0px 12px 43px -26px rgba(0,0,0,0.85);
    margin-bottom: 40px;

}
.portada-servicios::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--celeste);
    position: absolute;
    opacity: .4;
}
.portada-servicios .info-container{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portada-servicios .info-container h1{
    color: var(--blanco);
    font-weight: 300;
    font-size: 46px;
    
}
.portada-servicios .info-container p{
    color: var(--blanco);
}
/* -----------------------SERVICIOS CONTAINER----------- */
.servicios-container{
    width: 100%;
}
.servicios-content{
    width: 75%;
    background-color: var(--blanco);
    box-shadow: 0px 12px 43px -26px rgba(0,0,0,0.85);
    margin: 0 auto;
    padding: 20px 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
.servicios-content .box{
    width: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 20px 20px;
    transition: all 300ms;
    text-align: center;
}
.servicios-content .box:hover{
    box-shadow: 0px 12px 43px -26px rgba(0,0,0,0.85);

}
.servicios-content .box .container-img{
    width: 150px;
    height: 150px;
    background-color: var(--blanco-oscuro);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicios-content .box img{
    width: 100px;
    height: 100px;
}
.servicios-content .box h1{
    font-size: 28px;
    font-weight: 300;
    color: var(--turquesa-oscuro);
}

@media screen and (max-width:995px){
    .servicios-content{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:685px){
    .servicios-content{
        grid-template-columns: repeat(1,1fr);
    }
}
